{
  "presets": [
    ["env", {
      "targets": {
        "uglify": true,
        "node": "4.10"
      }
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-react-jsx-source"
  ]
}